*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width:100%;
}

#main{
  height: 100%;
  width: 100%;
  background-color: #ededed;
  display: grid;
}


#right{
  background-color: blue;
}

#left-top-left{
  background-color: crimson;
}

#left-top-right{
  background-color: blueviolet;
}
#left-center{
  background-color: royalblue;
}
#left-bottom{
  background-color: chartreuse;
}