/* boiler plate code to be written everytime */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body{
  width: 100%;
  height: 100%;
}

/* boiler plate code */

h1{
  color: red;
}

.main{
  width: 300px;
  height: 300px;
  background-color: red;
}